body{
    /*background-color: dimgray;*/
}
div{
    display: flex;
    margin: 0;

    border: solid 1px black;
}
.tile{
    display: flex;
    flex-wrap: wrap;
    width: 50px;
    height: 50px;
}
.tile-space{
    width: 50px;
    height: 50px;
}
.tile *{
    margin: 0;
    font-size: 30px;
}